/*  =============================GENERAL STYLES========================== */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  =============================GENERAL STYLES========================== */

/*  =============================VARIABLES========================== */
$min: 480px;
$mid: 768px;
$max: 1000px;
$color-principal: #751bff;
$roboto-condensed: "Roboto Condensed", sans-serif;
$nonum-gotic: "Nanum Gothic", sans-serif;
$bebas: "Bebas Neue", cursive;
/*  =============================VARIABLES========================== */

/*  =============================FONTS========================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*  =============================FONTS========================== */

/*  =============================TAG STYLE========================== */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $bebas;
    font-size: 4rem;
    //font-weight: 400;
}
/*  =============================TAG STYLE========================== */

/*  =============================STRUCTURING GRID INITIAL-CONTAINER========================== */

.initial-container {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
        "navigation"
        "header"
        "main"
        "footer";
}

.initial-container {
    .navigation {
        grid-area: navigation;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}

/*  =============================STRUCTURING GRID INITIAL-CONTAINER========================== */

/*  =============================NAVIGATION========================== */
.navigation {
    background-color: $color-principal;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
        "logo"
        "nav";
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .logo {
        text-align: start;
        margin-left: 20px;
        grid-area: logo;
        img {
            max-width: 400px;
            max-height: 400px;
        }
    }

    .nav {
        text-align: center;
        grid-area: nav;
        ul {
            display: flex;
            justify-content: start;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            gap: 1.5em;
            margin-left: 20px;
        }
        li {
            text-transform: capitalize;
            color: white;
            font-size: 1rem;
            font-family: $roboto-condensed;
            font-weight: 300;
        }
        a {
            text-decoration: none;
        }
    }

    .social-media {
        display: none;
    }
}

/* Navigation Media Queries*/

// Desde 768px en adelante
@media screen and(min-width: 768px) {
    .navigation {
        grid-template-areas: "nav logo social-media";
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .logo {
            text-align: center;
        }

        .nav {
            align-self: center;

            ul {
                justify-content: center;

                li {
                    font-size: 1.3rem;
                    align-items: center;
                }
            }
        }

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3em;
            a {
                text-decoration: none;
                color: white;
                img {
                    width: 30px;
                    filter: invert(1) hue-rotate(120deg);
                }
            }
        }
    }
}
/*  =============================NAVIGATION========================== */

/*  =============================HEADER========================== */
.header {
    display: grid;
    margin-top: 80px;
    width: 100%;
    justify-content: center;
    grid-template-areas:
        "header-logo"
        "header-content";

    .header-logo {
        grid-area: header-logo;
        margin: 20px;
        img {
            width: 100%;
        }
    }

    .header-content {
        text-align: center;
        grid-area: header-content;
        width: auto;
        justify-content: center;
        h1 {
            background-color: #6c63ff;
            color: white;
            width: 70%;
            border-radius: 20px 0 20px 0;
            margin-left: 20px;
            -webkit-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
        }
        p {
            margin: 0;
            font-family: $nonum-gotic;
            font-size: 2rem;
        }
        /*.switch {
            display: block;
            white-space: nowrap;
            border-right: 2px solid;
            width: 100%;
            animation: typing 3s steps(30), blink 0.5s infinite step-end alternate;
            overflow: hidden;
        }*/
        button {
            display: block;
            justify-content: center;
            margin: auto;
            margin-top: 100px;
            padding: 10px 30px 10px 30px;
            font-size: 1.2rem;
            font-family: $nonum-gotic;
            text-transform: uppercase;
            background-color: transparent;
            color: black;
            border: 1px solid black;
        }
        button:hover {
            background-color: #6c63ff;
            color: white;
            cursor: pointer;
        }
        button {
            transition: background-color 0.2s ease-out;
        }
    }
}
/* Header Media queries */
@media screen and (min-width: 1000px){
    .header {
        display: grid;
        width: 100%;
        justify-content: space-around;
        grid-template-areas: "header-logo header-content";
    }
}

@media screen and (min-width: 1200px) {
    .header {
        justify-content: space-around;
        .header-content {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}

/*  =============================HEADER========================== */

/*  =============================MAIN========================== */

.main {
    margin-top: 100px;
    .solutions {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template: 
            "card-1"
            "card-2"
            "card-3"
        ;
        justify-content: center;
        border: 1px solid black;
        .card-1 {
            grid-area: card-1;
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1fr;
            grid-template-areas: 
                "img"
                "p"
            ;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid black;
            img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
                grid-area: img;
            }
            p{
                grid-area: p;
            }
        }

        .card-2 {
            grid-area: card-2;
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1fr;
            grid-template-areas: 
                "img"
                "p"
            ;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid black;
            img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
                grid-area: img;
            }
            p{
                grid-area: p;
            }
        }
        

        .card-3 {
            grid-area: card-3;
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1fr;
            grid-template-areas: 
                "img"
                "p"
            ;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid black;
            img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
                grid-area: img;
            }
            p{
                grid-area: p;
            }
        }
    }
}



/*  =============================MAIN========================== */


/* KEYFRAMES */

/* typing text */
/*@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}*/
/* typing text */
