/*  =============================GENERAL STYLES========================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  =============================GENERAL STYLES========================== */
/*  =============================VARIABLES========================== */
/*  =============================VARIABLES========================== */
/*  =============================FONTS========================== */
/*  =============================FONTS========================== */
/*  =============================TAG STYLE========================== */
.h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  background-color: #751bff;
  color: white;
  width: 70%;
  border-radius: 20px 0 20px 0;
  margin-left: 20px;
  -webkit-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
}

/*  =============================TAG STYLE========================== */
/*  =============================STRUCTURING GRID INITIAL-CONTAINER========================== */
.initial-container {
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 100%;
      grid-template-areas: "navigation" "header" "main" "footer";
}

.initial-container .navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navigation;
}

.initial-container .header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.initial-container .main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.initial-container .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

/*  =============================STRUCTURING GRID INITIAL-CONTAINER========================== */
/*  =============================NAVIGATION========================== */
.navigation {
  background-color: #751bff;
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 100%;
      grid-template-areas: "logo" "nav";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.navigation .logo {
  text-align: start;
  margin-left: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.navigation .logo img {
  max-width: 400px;
  max-height: 400px;
}

.navigation .nav {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.navigation .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 1.5em;
  margin-left: 20px;
}

.navigation .nav li {
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.navigation .nav a {
  text-decoration: none;
}

.navigation .social-media {
  display: none;
}

/* Navigation Media Queries*/
@media screen and (min-width: 768px) {
  .navigation {
        grid-template-areas: "nav logo social-media";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .navigation .logo {
    text-align: center;
  }
  .navigation .nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navigation .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation .nav ul li {
    font-size: 1.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
  }
  .navigation .social-media a {
    text-decoration: none;
    color: white;
  }
  .navigation .social-media a img {
    width: 30px;
    -webkit-filter: invert(1) hue-rotate(120deg);
            filter: invert(1) hue-rotate(120deg);
  }
}

/*  =============================NAVIGATION========================== */
/*  =============================HEADER========================== */
.header {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "header-logo" "header-content";
}

.header .header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  margin: 20px;
}

.header .header-logo img {
  width: 100%;
}

.header .header-content {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header-content;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*.switch {
            display: block;
            white-space: nowrap;
            border-right: 2px solid;
            width: 100%;
            animation: typing 3s steps(30), blink 0.5s infinite step-end alternate;
            overflow: hidden;
        }*/
}

.header .header-content .h1 {
  background-color: #751bff;
  color: white;
  width: 70%;
  border-radius: 20px 0 20px 0;
  margin-left: 20px;
  -webkit-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.75);
}

.header .header-content p {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem;
}

.header .header-content button {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 10px 30px 10px 30px;
  font-size: 1.2rem;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.header .header-content button:hover {
  background-color: #751bff;
  color: white;
  cursor: pointer;
}

.header .header-content button {
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/* Header Media queries */
@media screen and (min-width: 1000px) {
  .header {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        grid-template-areas: "header-logo header-content";
  }
}

@media screen and (min-width: 1200px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header-content h1 {
    font-size: 3rem;
  }
  .header .header-content p {
    font-size: 1.5rem;
  }
}

/*  =============================HEADER========================== */
/*  =============================MAIN========================== */
.main {
  margin-top: 100px;
}

.main .h1 {
  display: block;
  margin: 50px auto;
}

.main .solutions {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-template: "card-1" "card-2" "card-3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .solutions .card-1 {
  grid-area: card-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
      grid-template-areas: "img" "p";
  padding: 10px;
}

.main .solutions .card-1 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
  border-radius: 10px 10px 10px 10px;
}

.main .solutions .card-1 p {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  margin: 20px auto;
}

.main .solutions .card-1 p span {
  color: #751bff;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.main .solutions .card-2 {
  grid-area: card-2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
      grid-template-areas: "img" "p";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.main .solutions .card-2 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.main .solutions .card-2 p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
}

.main .solutions .card-3 {
  grid-area: card-3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
      grid-template-areas: "img" "p";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.main .solutions .card-3 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.main .solutions .card-3 p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
}

/*  =============================MAIN========================== */
/* KEYFRAMES */
/* typing text */
/*@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}*/
/* typing text */
/*# sourceMappingURL=index.css.map */